.marge{
    margin-top: 1em;
}

.mat-card:hover {
    background-color: #f0f6fc;
}

.cardmodule{
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f0f0f1;
}

.fullWidth{
    width: 100%;
}

.title_card {
    width: 100%;
    display : grid;
    grid-template-columns: 40% 45% 10% 05%;
    align-items: center;
}

