<div class="row">
    <div class="col xs12 course-title" style="text-align: center;">
        <h1> Manage Course </h1>
    </div>
</div>

<ng-container *ngIf="courses.length">
    <div class="row">
        <ng-container *ngFor="let course of courses">
            <div class="col xs12">
                <!-- Card -->
                <mat-card>
                    <!-- Card Header -->
                    <mat-card-header >
                            <mat-card-title  class="">
                                <section class="title_card">
                                        <div id="TITLECARD" class="">
                                            {{ course.title }}
                                        </div>
                                        <div id="MENU" class="">
                                            <!--  Menu more_vert -->
                                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <!-- Button View module -->
                                                <button mat-menu-item (click)="showcard(course)">
                                                    <mat-icon>list</mat-icon>
                                                    <span>Module{{(course.modules?.length! > 1)? "s" : ""}} :{{ course.modules?.length }}</span>
                                                </button>
                                                <!-- Button Edit -->
                                                <button (click)="openDialog(course)" mat-menu-item>
                                                    <mat-icon>edit</mat-icon>
                                                    <span>Edit</span>
                                                </button>
                                                <!-- Button delete -->
                                                <button (click)="doRemoveCourse(course)" mat-menu-item>
                                                    <mat-icon>delete</mat-icon>
                                                    <span>Delete</span>
                                                </button>
                                                <!-- Button Add Course -->
                                                <button (click)="goToAddCourse()" mat-menu-item mat-menu-item>
                                                    <mat-icon>add_to_photos</mat-icon>
                                                    <span>Course</span>
                                                </button>
                                                <!-- Button Add module -->
                                                <button mat-menu-item>
                                                    <mat-icon>add_to_photos</mat-icon>
                                                    <span>Module</span>
                                                </button>
                                                <!-- Button Publish course -->
                                                <button mat-menu-item disabled>
                                                    <mat-icon>{{(course.publish)? "visibility" : "visibility_off"}}</mat-icon>
                                                    <span>{{(course.publish)? "Online !" : "Offline"}}</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                </section>
                            </mat-card-title>
                    </mat-card-header>
                    <!-- Card Content -->
                    <mat-card-content (click)="showcard(course)">
                        {{course.objective}}
                    </mat-card-content>
                </mat-card>
                <!-- card - Module -->
                <ng-container *ngFor="let module of course.modules; let index = index">
                    <mat-card class="cardmodule" *ngIf="course.isSelected">
                        <mat-card-header *ngIf="!courseEdit " >
                            <mat-card-title> 
                                <section class="title_card">
                                    <div id="TITLECARD" class="">
                                        {{module.name}}
                                    </div>
                                    <div id="MENU" class="">
                                        <!--  Menu more_vert -->
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <!-- List Media -->
                                            <button mat-menu-item>
                                                <mat-icon>list</mat-icon>
                                                <span>media{{(course.modules?.length! > 1)? "s" : ""}} {{module.medias.length}} </span>
                                            </button>
                                            <!-- Button Edit -->
                                            <button (click)="openDialog(course)" mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span>Edit</span>
                                            </button>
                                            <!-- Button delete -->
                                            <button (click)="doRemoveModule(module)" mat-menu-item>
                                                <mat-icon>delete</mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </section>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content> {{module.objective}} </mat-card-content>
                    </mat-card>
                </ng-container>                
            </div>
        </ng-container>
        
    </div>

</ng-container>

