<div class="row">
    <div class="col xs9 course-title">
        Manage Course
    </div>
    <div class="col xs1 course-number">
        {{ courses.length }} Course
    </div>
</div>

<ng-container *ngIf="courses.length">
    <div class="row">
        <ng-container *ngFor="let course of courses">
            <div class="col xs12">
                <mat-card>
                    <mat-card-header *ngIf="!courseEdit">
                        <mat-card-title>{{ course.title }}</mat-card-title>
                        <mat-card-subtitle> 
                            <button mat-button>
                                module :{{ course.modules?.length }}
                            </button>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{course.objective}} 
                    </mat-card-content>
            
                    <mat-card-actions align="end">
                        <!-- Button Visibility -->
                        <div *ngIf="course.publish; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <div class="">
                                <button (click)="onVisibility(course)" mat-icon-button matTooltip="Basic"
                                    aria-label="Example icon-button with a heart icon">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>
                            <div class="">
                                <button (click)="onVisibility(course)" mat-icon-button matTooltip="Basic"
                                    aria-label="Example icon-button with a heart icon">
                                    <mat-icon>visibility_off</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                        
                        <!-- Button Edit -->
                        
                        <button (click)="openDialog(course)" mat-icon-button matTooltip="Basic"
                            aria-label="Example icon-button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <ng-container ></ng-container>

                        <!-- Button delete -->
                        <button mat-icon-button matTooltip="Basic"
                            aria-label="Example icon-button with a heart icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>
    </div>
   
</ng-container>

<p>
    ##########################################################################
    ##########################################################################
    ####################### Accordion ########################################
    ##########################################################################
    ##########################################################################
</p>


<!-- 
    ##########################################################################
    ##########################################################################
    ####################### Accordion ########################################
    ##########################################################################
    ##########################################################################
  -->


<ng-container *ngIf="courses.length">
    <div class="row">
        <ng-container *ngFor="let course of courses">
            <div class="col xs12">
                <mat-card>
                    <mat-card-header *ngIf="!courseEdit">
                        <mat-card-title>{{ course.title }}</mat-card-title>
                        <mat-card-subtitle>
                            <button mat-button (click)="showCard = !showCard; showcard(course)" >
                                module :{{ course.modules?.length }}
                            </button>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{course.objective}}
                    </mat-card-content>

                    <mat-card-actions align="end">
                        <!-- Button Visibility -->
                        <div *ngIf="course.publish; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <div class="">
                                <button (click)="onVisibility(course)" mat-icon-button matTooltip="Basic"
                                    aria-label="Example icon-button with a heart icon">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>
                            <div class="">
                                <button (click)="onVisibility(course)" mat-icon-button matTooltip="Basic"
                                    aria-label="Example icon-button with a heart icon">
                                    <mat-icon>visibility_off</mat-icon>
                                </button>
                            </div>
                        </ng-template>

                        <!-- Button Edit -->

                        <button (click)="openDialog(course)" mat-icon-button matTooltip="Basic"
                            aria-label="Example icon-button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <ng-container></ng-container>

                        <!-- Button delete -->
                        <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>

                <!-- card - Module -->
                <ng-container *ngFor="let module of course.modules">
                    <mat-card class="cardmodule" *ngIf="showCard">
                        <mat-card-header *ngIf="!courseEdit">
                            <mat-card-title> {{module.name}} </mat-card-title>
                        </mat-card-header>
                        <mat-card-content> {{module.objective}} </mat-card-content>
                    </mat-card>
                </ng-container>                
            </div>
        </ng-container>
        
    </div>

</ng-container>
