
<mat-dialog-content>
  <div class="row">
  <div class="col xs12 ">
   <h1>List of modules for each course</h1>
  </div>
</div>
  <ng-container *ngFor="let course of courses">
  <div class="row">

    <div class="col xs6 course-title" *ngIf="course.modules?.length != 0">
    {{ course.title}}
    </div>
  </div>


  <ng-container *ngIf="course.modules">
    <ng-container *ngFor="let module of course.modules">
      <div class="col xs5 module-list">
        <span>{{module.name}}</span>

        <button mat-icon-button id="add" (click)="addModule(module)">
          <mat-icon >add</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </div>


    </ng-container>
  </ng-container>
</ng-container>
</mat-dialog-content>

