<fieldset>
    <legend>Your new password</legend>
<form class="row" [formGroup]="newpasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="col xs12">
        <input matInput placeholder="Your email..." formControlName="email">
        <mat-error *ngIf="newpasswordForm.controls['email'].touched && newpasswordForm.controls['email'].errors">
          Email is required...
        </mat-error>
      </mat-form-field>

    <mat-form-field class="col xs12">
      <div class="password">
        <input matInput  placeholder="Your new password..." formControlName="password">
        <mat-error *ngIf="newpasswordForm.controls['password'].touched && newpasswordForm.controls['password'].errors">
          Password is required...
        </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field class="col xs12">
        <div class="password">
          <input matInput  placeholder="Your Confirm password..." formControlName="confirmPassword">
          <mat-error *ngIf="newpasswordForm.controls['confirmPassword'].touched && newpasswordForm.controls['confirmPassword'].errors">
            Confirm Password is required...
          </mat-error>
        </div>
      </mat-form-field>

    <div class="col xs12">
      <button mat-raised-button color="primary" [disabled]="newpasswordForm.invalid">
        New Password
      </button>
    </div>
  </form>
</fieldset>
  