<div class="col xs12 course">
  <div class="row">
    <div class="col xs9">
      {{ course.title}} || {{ course.createdAt}} 
    </div>
    <div class="col xs1">
      {{ course.modules!.length }} items
    </div>
    <!-- Icon open / close -->
    <div class="col xs1">
      <toggle
        [selectedStatus]="course.isSelected"
        [isExpandable]="course.modules!.length > 0"
        (onToggle)="toggle($event)"
        [useIcon]="true"
      ></toggle>
    </div>


    <div class="col xs1" *ngIf="!showAdd">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>View course</span>
        </button>
        <button mat-menu-item>
          <span>Update course</span>
        </button>
        <button mat-menu-item (click)="onRemoveClick(course)">
          <span class="hot-action">Remove course</span>
        </button>
      </mat-menu>
    </div>

    <div class="col xs1" *ngIf="showAdd">
        <button mat-icon-button (click)="addCourse(course)">
          <mat-icon >add</mat-icon>
        </button>
    </div>
  </div>

  <app-module-list [ngClass]="{'is-visible': course.isSelected}" [modules]="course.modules!"></app-module-list>
</div>

