<div class="col xs12 course">
  <div class="row">
    <div class="col xs6 fields">
      {{ course.title }}
    </div>
    <div class="col xs3 fields">{{ course.modules!.length }}  item{{(course.modules?.length! > 1)? "s" : ""}}</div>
    <!-- Icon open / close -->
    <div class="col xs2 fields">
      <toggle
        [selectedStatus]="course.isSelected"
        [isExpandable]="course.modules!.length > 0"
        (onToggle)="toggle($event)"
        [useIcon]="true"
      ></toggle>
    </div>

    <div class="col xs1" *ngIf="showAdd">
      <button class="matButton" mat-icon-button (click)="addCourse(course)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <app-module-list
    [ngClass]="{ 'is-visible': course.isSelected }"
    [modules]="course.modules!"
  ></app-module-list>
</div>
