.course {
  &:hover{
    background-color: #f0f6fc;
  }
  font-size: 1.2rem;
  padding : 1rem;
  margin: 1rem 0 1rem 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  .icon-list {
    display: inline-block;
    &.up {
      animation-name: up;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }

    &.down {
      animation-name: down;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }
  }

  app-module-list {
    display: none;
    &.is-visible {
      display: block;
      animation-name: show;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }
  }
}

span {
  &.hot-action {
    color: rgb(200, 20, 10);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    display: inline-block;
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes down {
  0% {
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
