<div>
  <h1>Create a new media</h1>
  <div>
    <form [formGroup]="mediaFormGroup" (ngSubmit)="addMedia()">
    <ng-container>

        <fieldset>
          <legend> My new media</legend>
          <div class="row">
            <div class="col xs12 md6">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Media title..."
                  formControlName="title"
                />
                <mat-error
                  *ngIf="
                    mediaFormGroup.controls['title'].errors &&
                    mediaFormGroup.controls['title'].touched
                  "
                >
                  <span
                    *ngIf="
                      mediaFormGroup.controls['title'].hasError('required')
                    "
                  >
                    Title cannot be empty !!!
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field>
            <input
              matInput
              placeholder="Media summary.."
              formControlName="summary"
            />
            <mat-error
              *ngIf="
                mediaFormGroup.controls['summary'].errors &&
                mediaFormGroup.controls['summary'].touched
              "
            >
              <span
                *ngIf="mediaFormGroup.controls['summary'].hasError('required')"
              >
                Summary cannot be empty !!!
              </span>
            </mat-error> </mat-form-field
          ><br />

          <mat-form-field>
            <input
              matInput
              placeholder="Media duration.."
              formControlName="duration"
            />
            <mat-error
              *ngIf="
                mediaFormGroup.controls['duration'].errors &&
                mediaFormGroup.controls['duration'].touched
              "
            >
              <span
                *ngIf="mediaFormGroup.controls['duration'].hasError('required')"
              >
                Duration cannot be empty !!!
              </span>
            </mat-error> </mat-form-field
          ><br />

          <mat-form-field>
            <mat-label>List MediaType</mat-label>
            <mat-select
              [(ngModel)]="selectedOption"
              formControlName="typeMedia"
              required
            >
              <mat-option
                [value]="listTypeMedia"
                *ngFor="let listTypeMedia of typeMedias"
              >
                {{ listTypeMedia.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div
            *ngIf="
              selectedOption && selectedOption.title === 'Video';
              then thenBlock;
              else elseBlock
            "
          ></div>

          <ng-template #thenBlock
            ><br />
            <mat-form-field>
              <mat-label>Media URL</mat-label>
              <input
                matInput
                type="text"
                formControlName="url"
                placeholder="Enter url of your Media..*"
              />
            </mat-form-field>
          </ng-template><br>


          <ng-template #elseBlock>
               <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileSelected($event)" />
                     <img src="assets/img/dnd/ic-upload-file.svg" alt="">
                       <h4>Drag and drop file here</h4>
                        <h4>or</h4>
                  <label for="fileDropRef">Browse for file</label>
            </div><br>

            <div class="files-list">
              <div class="single-file" *ngFor="let file of files; let i = index">
                <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
                <div class="info">
                  <h4 class="name">
                    {{ file?.name }}
                  </h4>
                  <p class="size">
                    {{ formatBytes(file?.size) }}
                  </p>
                  <app-progress [progress]="file?.progress"></app-progress>
                </div>
                <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
               </div>
             </div>
           </ng-template><br>

        </fieldset>
            <div class="row">
              <div class="col xs5">
            </div>
          <div class="col xs5"></div>
        </div><br>

      <div id="import">
        <span>Import a module from an existing one :  </span>
        <button  mat-raised-button type="button" color="primary"  (click)="openModule()">
          Import
      </button>
      </div>
    </ng-container>

     <ng-container *ngIf="useModule">
        <ng-container>
          <fieldset>

            <legend>Modules</legend>
            <ol cdkDropList class="module-list" (cdkDropListDropped)="drop($event)">
                <li class="example-box" *ngFor="let module of modules" >
                  <div class="module-tile" cdkDrag>
                    <div class="title">{{ module.name }}</div>
                    <div class="remove">
                        <button mat-icon-button (click)="removeModule(module)">
                            <mat-icon color="error">delete</mat-icon>
                        </button>
                    </div>
                  </div>

                    <ul class="media-list">
                      <li *ngFor="let media of module.medias">
                        <div class="media-tile">
                          <div class="title">{{ media.title }}</div>
                          <div class="type">{{ media.typeMedia.title }}</div>
                          <div class="duration">{{ media.totalTime }}</div>
                        </div>
                        <mat-divider></mat-divider>
                      </li>
                    </ul>
                </li>
            </ol>

          </fieldset>

        </ng-container>
        <div class="add-button col xs2"><br>
          <button mat-raised-button [disabled]="mediaFormGroup.invalid" color="primary">Add</button>
      </div>
    </ng-container>
  </form>
  </div>
</div>

