<mat-card class="example-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">{{ tileInfo.title }}</mat-card-title>
  </mat-card-header>

  <div class="image">
    <img
      class="mat-card-lg-image"
      mat-card-lg-image
      src="{{ tileInfo.image }}"
      alt="Photo of {{ tileInfo.title }}"
    />
  </div>

  <mat-card-content class="mat-card-content">
    <p>
      {{ tileInfo.summary }}
    </p>
  </mat-card-content>

  <mat-card-actions class="mat-card-actions">
    <button
      class="mat-raised-button"
      mat-raised-button
      type="button"
      color="accent"
      (click)="onClick(tileInfo)"
    >
      Go !
    </button>
  </mat-card-actions>
</mat-card>
