h1 {
  color: rgba(127, 127, 200, 0.8);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page{
  width: 85%;
}
