.footer {
  .row {
    color: white;
    height: 75px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgb(85, 85, 85), rgb(62, 6, 61));
    align-items: center;
    div {
      font-size: 20px;
    }
  }
}
