// ul {
//     &.module-list {
//         list-style-type: none;
//         li {
//             display: flex;
//             border-bottom-width: 1px;
//             border-bottom-color: rgb(128, 128, 128);
//             border-bottom-style: dotted;
//             padding: 1em;
//             div {
//                 &.title {
//                     flex: 2;
//                 }
//                 &.remove {
//                     flex: 1;
//                 }
//             }
//         }
//     }
// }
h2 {
  font-size: 2rem;
}

fieldset {
  border-radius: 0.5rem;
  margin: 1.5rem 0 1.5rem 0;
  font-size:medium;
}


  .module-list {
    li {
      // border-bottom-width: 1px;
      // border-bottom-color: rgb(128, 128, 128);
      // border-bottom-style: dotted;
      // padding: 1em;
      // border-bottom: solid 1px rgba(128, 128, 128, .8);

       div {
        &.module-tile {
          display: grid;
          grid-template-columns: 90% 10%;
          align-items: center;
          padding: 0.5rem 1.5rem 0.5rem;
          background: rgb(216, 227, 232);
          button{
            background-color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          }
        }
      }
    }


  li + li {
    margin-top: 1rem;
  }

  ::marker {
    font-weight: 600;
    color: #002b5c;
    font-size: 1.8rem;
  }


.media-list {
  list-style-type: none;
  li {
    div{
      &.media-tile {
        display: grid;
        margin: 0.5rem;
        grid-template-columns: 50% 25% 25%;
      }
    }
  }
}

mat-divider {
  background-color: #002b5c;
}
