<div *ngIf="manageBool(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <h2>Manage a course</h2>

  <div id="import">
    <span>Import a course from conceptor :  </span>
    <button  mat-raised-button type="button" color="primary"  (click)="addCourse()">
      Import
    </button>
  </div>

</ng-template>
<ng-template #elseBlock>
  <h2>Create a course</h2>
  <div id="import">
    <span>Import a course from an existing one :  </span>
    <button  mat-raised-button type="button" color="primary"  (click)="addCourse()">
      Import
    </button>
  </div>

</ng-template>





<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Course</legend>
    <div class="row">

      <mat-form-field class="col xs12">
          <input matInput formControlName="title" placeholder="Course title...">
          <mat-error *ngIf="c['title'].errors && c['title'].touched">
              Title is required
          </mat-error>
      </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="col xs12">
          <textarea matInput type="textarea"cdkTextareaAutosize cdkAutosizeMaxRows="10" formControlName="objective" placeholder="Objective..."></textarea>
      </mat-form-field>
  </div>
  </fieldset>

  <div id="import">
    <span>Import a module from an existing one :  </span>
    <button  mat-raised-button type="button" color="primary"  (click)="openModule()">
      Import
  </button>
  </div>

    <ng-container *ngIf="useModule">
        <ng-container>
          <fieldset>
            <legend>Modules</legend>
            <ol class="module-list">
                <li *ngFor="let module of modules">
                  <div class="module-tile">
                    <div class="title">{{ module.name }}</div>
                    <div class="remove">
                        <button mat-icon-button (click)="removeModule(module)">
                            <mat-icon color="error">delete</mat-icon>
                        </button>
                    </div>

                  </div>


                    <ul class="media-list">
                      <li *ngFor="let media of module.medias">
                        <div class="media-tile">
                          <div class="title">{{ media.title }}</div>
                          <div class="type">{{ media.typeMedia.title }}</div>
                          <div class="duration">{{ media.totalTime }}</div>
                        </div>
                        <mat-divider></mat-divider>
                      </li>
                    </ul>
                </li>
            </ol>
          </fieldset>
        </ng-container>
        <!-- <button mat-raised-button type="button" color="warn" (click)="addModule()">
            Add Module
        </button> -->
    </ng-container>

    <div class="buttons">
          <button mat-raised-button color="warn" (click)="resetForm($event)">Reset</button>
          <button mat-raised-button color="primary" [disabled]="form.invalid">Add</button>
    </div>
</form>
