<h2>Manage Module</h2>
<mat-card>
    <mat-card-header>
        <mat-card-subtitle>Course Title</mat-card-subtitle>
        <mat-card-title>Module Title</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Contenue Objectif Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Commodi animi accusantium voluptatem ad sint amet magnam similique et, 
            laborum architecto perferendis aliquam provident expedita facilis cum neque 
            veritatis sed quod.
        </p> <hr>
        <div class="row">
            <div class="col xs2"><h6>create at : 15/03/2023 </h6> </div>
            <div class="col xs8"></div>
            <div class="col xs2"><h6>Update at : 16/03/2023</h6></div>
        </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>