<fieldset>
  <legend>Forgotten Password</legend>
  <form
    class="row"
    [formGroup]="forgottenPasswordFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="col xs12">
      <input matInput placeholder="Your email..." formControlName="email" />
      <mat-error
        *ngIf="
          forgottenPasswordFormGroup.controls['email'].touched &&
          forgottenPasswordFormGroup.controls['email'].errors
        "
      >
        Email is required...
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col xs12">
      <input matInput placeholder="Your answer..." formControlName="answer" />
      <mat-error
        *ngIf="
          forgottenPasswordFormGroup.controls['answer'].touched &&
          forgottenPasswordFormGroup.controls['answer'].errors
        "
      >
        Answer is required...
      </mat-error>
    </mat-form-field>

    <div class="col xs12">
      <button
        mat-raised-button
        color="accent"
        [disabled]="forgottenPasswordFormGroup.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</fieldset>
