<mat-dialog-content class="list-media">
    <div class="row">
        <div class="col xs9 media-title">
            Media List
        </div>
    </div>
    <ng-container *ngIf="medias.length">
        <ng-container *ngFor="let media of medias">
            <div class="media-list">
                <div class="row">
                    <div class="col xs6"><span>{{media.title}}</span></div>
                    <div class="col xs6"><span>{{media.typeMedia.title}}</span></div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</mat-dialog-content>