<mat-dialog-content>
    <div class="row">
        <div class="col xs9 course-title">
            Course List
        </div>
    </div>

    <ng-container *ngIf="courses.length">
        <ng-container *ngFor="let course of courses">
            <mat-card>
                <mat-card-header>
                    <mat-card-title> {{ course.title}} </mat-card-title>
                    <mat-card-subtitle>{{ course.objective }} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button (click)="sendCourse(course)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!-- Condition publish -->
                    <div *ngIf="course.publish; then thenBlock else elseBlock "></div>
                    <!-- true -->
                    <ng-template #thenBlock>
                        <button mat-button >
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </ng-template>
                    <!-- false -->
                    <ng-template #elseBlock>
                        <button mat-button>
                            <mat-icon>visibility_off</mat-icon>
                        </button>
                    </ng-template>
                    <button (click)="delete(course)" mat-button>
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>
</mat-dialog-content>