<mat-dialog-content>
    <div class="row">
        <div class="col xs9 course-title">
            Course List || {{data.title}}
        </div>
    </div>

    <!-- Form manage course -->
    <form [formGroup]="form" (ngSubmit)="editSubmit()">
        <fieldset>
            <legend>Course</legend>
            <div class="row">
                <mat-form-field class="col xs12">
                    <input matInput formControlName="title" placeholder="Course title..." [(ngModel)]="data.title">
                    <mat-error *ngIf="c['title'].errors && c['title'].touched">
                        Title is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col xs12">
                    <textarea matInput type="textarea" cdkTextareaAutosize cdkAutosizeMaxRows="10"
                        formControlName="objective" placeholder="Objective..." [(ngModel)]="data.objective"></textarea>
                </mat-form-field>
            </div>
            <!-- Icon Publish -->
    
            <!-- Condition publish -->
            <div *ngIf="publish; then thenBlock else elseBlock "></div>
            <!-- true -->
            <ng-template #thenBlock>
                <div class="row">
                    <button (click)="editPublish(publish)" mat-button class="col xs1">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <p class="col xs11">Online !</p>
                </div>
            </ng-template>
    
            <!-- false -->
            <ng-template #elseBlock>
                <div class="row">
                    <button (click)="editPublish(publish)" mat-button class="col xs1">
                        <mat-icon>visibility_off</mat-icon>
                    </button>
                    <p class="col xs11">Not Online !</p>
                </div>
            </ng-template>
    
        </fieldset>
        <div class="buttons">
            <button mat-raised-button color="warn" (click)="resetForm($event)">Reset</button>
            <button mat-raised-button color="primary" [disabled]="form.invalid">Edit</button>
        </div>
    </form>




    <!-- <ng-container *ngIf="courses.length">
        <ng-container *ngFor="let course of courses">
            <mat-card>
                <mat-card-header>
                    <mat-card-title> {{ course.title}} </mat-card-title>
                    <mat-card-subtitle>{{ course.objective }} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button (click)="sendCourse(course)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!-- Condition publish --
                    <div *ngIf="course.publish; then thenBlock else elseBlock "></div>
                    <!-- true --
                    <ng-template #thenBlock>
                        <button mat-button >
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </ng-template>
                    <!-- false --
                    <ng-template #elseBlock>
                        <button mat-button>
                            <mat-icon>visibility_off</mat-icon>
                        </button>
                    </ng-template>
                    <button (click)="delete(course)" mat-button>
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container> 
-->
</mat-dialog-content>
 