mat-card{
  margin-top: 1em;
}

fieldset {
  border-radius: 0.5rem;
  margin: 1.5rem 0 1.5rem 0;
  font-size: medium;
}

mat-icon{
  margin-right: 1em;
}

matListItemTitle{
  margin-bottom: 1em;
}

.course-title{
  text-align: center;
}