  <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="col xs12 " >
      <input matInput placeholder="Your login..." formControlName="login">
      <mat-error *ngIf="form.controls['login'].touched && form.controls['login'].errors">
        Login is required...
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col xs12">
      <div class="password">
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Your password..." formControlName="password">
        <mat-error *ngIf="form.controls['password'].touched && form.controls['password'].errors">
          Password is required...
        </mat-error>

        <button type="button" mat-button (click)="passwordToggle()" [disabled]="showPassword">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <div class="col xs6">
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Login
      </button>
    </div>
  </form>

  <div id="option" class="row">
    <div class="col xs4">
      <a routerLink="/forgottenPassword">Forgotten password?</a>
    </div>
    <div class="col xs4">
      <mat-label>
        Stay connected ?
      </mat-label>
      <mat-slide-toggle
      [(ngModel)]="stayConnected"
      (ngModelChange)="changeStrategy()"
    >
      {{ stayConnected ? 'Yes' : 'No'}}
    </mat-slide-toggle>
    </div>
    <div class="col xs4">
   
    </div>
   
      
  </div>


